@import "../../variables/var.scss";

.about-us {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
    .logo-img {

        img {
            width: 100%;
        }
    }

    .about-txt {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: $firstColor;
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: capitalize;
        }

        p {
            text-transform: capitalize;
            font-size: 20px;
            line-height: 2;
            color: $txtColor
        }
    }
}